* text=auto eol=lf
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf
*.{js,jsx,ts,tsx} text eol=lf
*.{css,scss,less} text eol=lf
*.html text eol=lf
_headers text eol=lf
.nojekyll text eol=lf